/*
0px		- 		600px:			mobile 		--> Mobile First Approach (where normal styles apply)
600px		- 		900px: 			tab-port 	-->	Tablet Portrait 
900px		-		1200px:			tab-land	-->	Tablet Landscape
1200px	-		1800px:			desk		-->	Desktop 
1800px +							big-desk	-->	Big Desktop

REMEMBER: 1em = 16px;
$breakpoint argument choices
	- tab-port and >	600 --> 900 	: min-width: 37.5em (600/16)
	- tab-land and >	900 --> 1200	: min-width: 56.25em (900/16)
	- desk and 	   >	1200 --> 1800	: min-width: 75em (1200/16)
	- big-desk and >  1800 +		: min-width: 112.5em (1800/16)

ORDER: base + typography > general layout + grid > page layout > components
*/
@keyframes hideFaqContent {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}
@keyframes showFaqContent {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes showFaqButton {
  0% {
    background: linear-gradient(to bottom right, rgba(228, 228, 228, 0.5), rgba(228, 228, 228, 0.6) 25%, rgba(22, 20, 19, 0.7) 95%);
    transform: translateX(100px);
    opacity: 0;
    scale: 0;
  }
  45% {
    transform: translateX(100px);
    opacity: 0;
    scale: 0;
  }
  50% {
    opacity: 0.2;
    scale: 0.2;
  }
  65% {
    transform: translateX(-10px);
    opacity: 0.6;
    scale: 0.4;
  }
  70% {
    background: linear-gradient(to bottom right, rgba(228, 228, 228, 0.1), rgba(228, 228, 228, 0.2) 25%, rgba(22, 20, 19, 0.2) 95%);
    transform: translateX(0px);
    opacity: 1;
    scale: 1;
    rotate: 0deg;
  }
  77% {
    rotate: 45deg;
  }
  84% {
    rotate: 0deg;
  }
  92% {
    rotate: -45deg;
  }
  100% {
    rotate: 0deg;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  /* 	1rem is equal to 10px */
  /* 	because 10px / 10 is equal to 1rem */
  /* 	therefore 30px is equal to 3rem */
  /* 	the default font size of the browser is 16px */
  /* 	10px / 16px *100 = 62.5% */
  font-size: 62.5%;
}
@media (min-width: 37.5em) {
  html {
    /* 	12px / 16px *100 = 75% */
    font-size: 68%;
  }
}
@media (min-width: 56.25em) {
  html {
    /* 	14px / 16px *100 = 81.25% */
    font-size: 72%;
  }
}
@media (min-width: 75em) {
  html {
    /* 	16px / 16px *100 = 100% */
    font-size: 76%;
  }
}
@media (min-width: 112.5em) {
  html {
    /* 	18px / 16px *100 = 112.5% */
    font-size: 80%;
  }
}

body {
  /* This makes dealing with the sizes of elements much easier, 
  	and generally eliminates a number of pitfalls you can stumble on
  	 while laying out your content. */
  /* The width and height properties include the content, padding, and border, 
  	but do not include the margin.  Note that padding and border will be inside 
  	of the box. */
  box-sizing: border-box;
  position: relative;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  color: #161413;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1.4rem, 4.3vw, 1.6rem);
  font-weight: 400;
  line-height: 1.6;
}

.headingH2 {
  font-size: clamp(2.2rem, 7vw, 3.2rem);
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #161413;
  text-align: center;
  background: linear-gradient(to bottom right, #ff5e00 30%, #437c90 50%, #161413 85%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 56.25em) {
  .headingH2 {
    text-align: left;
  }
}
.headingH2--contact {
  padding-left: 0;
}
@media (min-width: 56.25em) {
  .headingH2--contact {
    padding-left: 2rem;
  }
}

.headingH3 {
  color: #e4e4e4;
  font-size: clamp(1.6rem, 4.3vw, 1.8rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.headingH3--bylineHeadingH3 {
  text-align: center;
}
@media (min-width: 56.25em) {
  .headingH3--bylineHeadingH3 {
    text-align: left;
  }
}
.headingH3--faqQuestion {
  color: #437c90;
  text-align: center;
}
@media (min-width: 56.25em) {
  .headingH3--faqQuestion {
    text-align: left;
  }
}

.headingH4 {
  color: #161413;
  font-size: clamp(1.4rem, 4.3vw, 1.6rem);
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.headingH4--contactItem {
  color: #437c90;
  text-shadow: 1px 1px 1px rgba(22, 20, 19, 0.8);
}

.paragraph {
  font-size: clamp(1.4rem, 4.3vw, 1.6rem);
  line-height: 1.2;
  text-align: center;
}
@media (min-width: 56.25em) {
  .paragraph--bylineParagraph {
    text-align: left;
  }
}
.paragraph--contactItem {
  color: #437c90;
  text-shadow: 1px 1px 1px rgba(22, 20, 19, 0.8);
}
.paragraph--faqQuestion, .paragraph--faqAnswer {
  color: #437c90;
}
@media (min-width: 56.25em) {
  .paragraph--faqQuestion, .paragraph--faqAnswer {
    text-align: left;
  }
}
.paragraph--faqQuestion {
  color: #437c90;
  font-weight: 900;
}
.footer {
  color: #e4e4e4;
}
.footer__navList {
  text-align: center;
}
@media (min-width: 56.25em) {
  .footer__navList {
    text-align: left;
  }
}
.footer__navLinkMain {
  color: #ff5e00;
  font-size: clamp(1.6rem, 4.3vw, 1.8rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: underline;
  text-underline-offset: 2px;
  margin-left: 1.65rem;
}
@media (min-width: 56.25em) {
  .footer__navLinkMain {
    margin-left: 0rem;
  }
}
.footer__terms {
  color: #ff5e00;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.footer__developer {
  font-size: clamp(1.2rem, 4.3vw, 1.4rem);
}
.footer__developerName {
  color: #ff5e00;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-xtrasmall {
  margin-bottom: 0.5rem;
}

.u-margin-top-xtrasmall {
  margin-top: 1rem;
}

.u-margin-right-xtrasmall {
  margin-right: 0.5rem;
}

.btn {
  border: 1px solid #161413;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
  width: fit-content;
  padding: 0.6em 0.85em;
  margin: 0 auto;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.2s;
}
.btn:link, .btn:visited {
  text-decoration: none;
  transform: translateY(0px);
}
.btn:active {
  border-bottom: 2px solid #a5a5a5;
  border-right: 2px solid #a5a5a5;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
  transform: translateY(-1px);
}
.btn--primary-orange {
  background-color: orange;
}
.btn--primary-white {
  background-color: white, 0.85;
  border: 2px solid black;
  padding: 0.55em 1.25em;
}
.btn--faqArrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(to bottom right, rgba(228, 228, 228, 0.1), rgba(228, 228, 228, 0.2) 25%, rgba(22, 20, 19, 0.2) 95%);
  border: 2px solid #437c90;
  border-radius: 1000rem;
  box-shadow: 0px 1px 2px 1px rgba(196, 196, 196, 0.898);
  padding: 0rem;
  width: 3rem;
  height: 3rem;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
@media (min-width: 56.25em) {
  .socialMedia {
    justify-content: flex-start;
  }
}
.socialMedia__iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  justify-content: space-evenly;
  width: min(100%, 35rem);
}
.socialMedia__icon {
  width: 3rem;
  height: 3rem;
}

.sidebar {
  padding: 5rem 1rem;
}
@media (min-width: 37.5em) {
  .sidebar {
    padding: 5rem 2rem;
  }
}
.sidebar__faqContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 56.25em) {
  .sidebar__faqContainer {
    align-items: flex-start;
  }
}
.sidebar__faqList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 56.25em) {
  .sidebar__faqList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.sidebar__faqItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  justify-content: space-evenly;
  background: linear-gradient(to bottom right, rgba(228, 228, 228, 0.2), rgba(228, 228, 228, 0.1) 15%, rgba(22, 20, 19, 0.3) 95%);
  border: 2px solid #437c90;
  border-radius: 0.5rem;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: min(100%, 45rem);
  min-height: 25rem;
}
@media (min-width: 56.25em) {
  .sidebar__faqItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-items: flex-start;
  }
}
@media (min-width: 37.5em) {
  .sidebar__faqItem {
    width: min(100%, 38rem);
  }
}
@media (min-width: 56.25em) {
  .sidebar__faqItem {
    width: min(100%, 43rem);
    min-height: 16rem;
  }
}
.sidebar__contentWrapper {
  width: min(100%, 38rem);
  position: relative;
}
@media (min-width: 37.5em) {
  .sidebar__contentWrapper {
    width: min(100%, 25rem);
  }
}
@media (min-width: 56.25em) {
  .sidebar__contentWrapper {
    width: min(100%, 80rem);
  }
}
.sidebar__faqAnswer {
  opacity: 0;
  scale: 0;
}
.sidebar__faqButton {
  justify-items: flex-start;
}

.displayNone {
  display: none;
}

.animateHide {
  animation: hideFaqContent 0.5s linear;
}

.animateShow {
  animation: showFaqContent 0.5s linear forwards;
}

.animateShowButton {
  animation: showFaqButton 2.5s linear forwards;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-items: stretch;
  gap: 1rem;
  background-color: #161413;
  padding: 2rem 1rem 1rem;
}
@media (min-width: 37.5em) {
  .footer {
    padding: 2rem 2rem 1rem;
  }
}
.footer__hr {
  border: 1px solid rgba(228, 228, 228, 0.3);
  width: 100%;
}
.footer__rightArrowIcon {
  color: #ff5e00;
  margin-left: 0.25rem;
}
.footer__footerSection--logoBylineAndSocialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 56.25em) {
  .footer__footerSection--logoBylineAndSocialMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    gap: 0rem;
  }
}
.footer__logoImage {
  width: 20rem;
  height: 20rem;
}
.footer__itemsWrapper--headingBylineAndSocialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 56.25em) {
  .footer__itemsWrapper--headingBylineAndSocialMedia {
    align-items: flex-start;
    margin-left: 3rem;
  }
}
@media (min-width: 75em) {
  .footer__itemsWrapper--headingBylineAndSocialMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
  }
}
.footer__footerItem--headingAndByline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  gap: 0.25rem;
}
@media (min-width: 56.25em) {
  .footer__footerItem--headingAndByline {
    align-items: flex-start;
    width: 450px;
  }
}
.footer__paragraph--bylineParagraph {
  width: min(100%, 36rem);
}
.footer__navList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 56.25em) {
  .footer__navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.footer__navItem {
  width: 150px;
}
.footer__itemsWrapper--termsAndCopy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  gap: 0rem;
}
@media (min-width: 56.25em) {
  .footer__itemsWrapper--termsAndCopy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    gap: 0.75rem;
  }
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  gap: 0rem;
}
@media (min-width: 37.5em) {
  .footer__copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    gap: 0.75rem;
  }
}
.footer__developer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  gap: 0.25rem;
}
@media (min-width: 56.25em) {
  .footer__developer {
    justify-content: flex-end;
  }
}
.footer__developerName {
  margin-left: 0.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  height: 95vh;
  padding: 2rem 1rem;
}
@media (min-width: 37.5em) {
  .header {
    padding: 2rem;
  }
}
.header__secondaryHeading {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
.header__byline {
  display: block;
  font-size: 1.5rem;
}
.header__primaryHeading {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
}
.header__paragraph {
  font-size: 1.5rem;
}
.header__paragraph--intro {
  font-weight: 700;
}
.header__image {
  width: min(75%, 350px);
}

main {
  padding: 2rem 0rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-items: stretch;
}
.contact__contactContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: url("../../img/WebsiteImages/ContacUsBg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem 2rem;
}
@media (min-width: 56.25em) {
  .contact__contactContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.contact__contactItemContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  gap: 0.25rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: 5px solid #437c90;
  border-radius: 1000rem;
  box-shadow: 0px 0px 50px 3px rgba(22, 20, 19, 0.7);
  width: clamp(25rem, 80vw, 30rem);
  height: clamp(25rem, 80vw, 30rem);
  margin: 0 auto;
  backdrop-filter: blur(4px);
}
.contact__contactItemIcon {
  width: 5rem;
  height: 5rem;
}

.navbar {
  padding: 1rem;
}
@media (min-width: 37.5em) {
  .navbar {
    padding: 2rem 2rem;
  }
}

body {
  background-color: #e4e4e4;
}

/*# sourceMappingURL=styles.css.map */
