/*
0px		- 		600px:			mobile 		--> Mobile First Approach (where normal styles apply)
600px		- 		900px: 			tab-port 	-->	Tablet Portrait 
900px		-		1200px:			tab-land	-->	Tablet Landscape
1200px	-		1800px:			desk		-->	Desktop 
1800px +							big-desk	-->	Big Desktop

REMEMBER: 1em = 16px;
$breakpoint argument choices
	- tab-port and >	600 --> 900 	: min-width: 37.5em (600/16)
	- tab-land and >	900 --> 1200	: min-width: 56.25em (900/16)
	- desk and 	   >	1200 --> 1800	: min-width: 75em (1200/16)
	- big-desk and >  1800 +		: min-width: 112.5em (1800/16)

ORDER: base + typography > general layout + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  /* 	1rem is equal to 10px */
  /* 	because 10px / 10 is equal to 1rem */
  /* 	therefore 30px is equal to 3rem */
  /* 	the default font size of the browser is 16px */
  /* 	10px / 16px *100 = 62.5% */
  font-size: 62.5%;
}
@media (min-width: 37.5em) {
  html {
    /* 	12px / 16px *100 = 75% */
    font-size: 68%;
  }
}
@media (min-width: 56.25em) {
  html {
    /* 	14px / 16px *100 = 81.25% */
    font-size: 72%;
  }
}
@media (min-width: 75em) {
  html {
    /* 	16px / 16px *100 = 100% */
    font-size: 76%;
  }
}
@media (min-width: 112.5em) {
  html {
    /* 	18px / 16px *100 = 112.5% */
    font-size: 80%;
  }
}

body {
  /* This makes dealing with the sizes of elements much easier, 
  	and generally eliminates a number of pitfalls you can stumble on
  	 while laying out your content. */
  /* The width and height properties include the content, padding, and border, 
  	but do not include the margin.  Note that padding and border will be inside 
  	of the box. */
  box-sizing: border-box;
  position: relative;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #161413;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
}

.footer {
  color: #e4e4e4;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-xtrasmall {
  margin-bottom: 0.5rem;
}

.u-margin-top-xtrasmall {
  margin-top: 1rem;
}

.u-margin-right-xtrasmall {
  margin-right: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #161413;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  height: 95vh;
  padding: 2rem;
}
.header__secondaryHeading {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
.header__byline {
  display: block;
  font-size: 1.5rem;
}
.header__primaryHeading {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
}
.header__paragraph {
  font-size: 1.5rem;
}
.header__paragraph--intro {
  font-weight: 700;
}
.header__image {
  width: min(75%, 350px);
}

body {
  background-color: #e4e4e4;
}

/*# sourceMappingURL=styles.css.map */
