.sidebar {
      padding: 1rem 0rem;

      &__faqContainer {
            @include displayFlexColumnCenter;
      }

      &__faqList {
            @include displayFlexColumnCenter;
            gap: 3rem;
            width: min(100%, 45rem);
            @include respond(tab-land) {
                  @include displayFlexRowCenter;
                  align-items: stretch;
                  flex-wrap: wrap;
                  column-gap: 3rem;
                  row-gap: 3rem;
                  width: 100%;
                  padding: 2rem;
            }
            padding: 1rem;
      }

      &__faqItem {
            @include displayFlexColumnCenter;
            // @include respond(tab-land) {
            //       @include displayFlexRowCenter;
            //       align-items: flex-start;
            // }
            justify-content: space-evenly;
            background: linear-gradient(to bottom right, 
                        rgba($cp-dark, 1) 30%,
                        rgba($cp-dark, .9) 85%, 
                        rgba($cp-dark, .85));
            background-color: rgba(255, 255, 255, .2);
            border: 3px solid $cp-sunsetOrange;
            border-radius: $br-small;
            box-shadow: $bs-dark;
            padding: 2rem;
            width: 100%;
            min-height: 25rem;
            backdrop-filter: blur(3px);
            @include respond(tab-land) {
                  flex: 1 0 35rem;
                  min-height: 16rem;
            }                    
            @include respond(desk) {
                  flex: 1 0 40rem;
            }  
            @media (min-width: 1500px) {
                  flex: 1 0 48rem;
                  justify-content: center;
              }                  
            @include respond(big-desk) {
                  flex: 1 0 50rem;
            }                    
      }

      &__contentWrapper {
            width: min(100%, 38rem);
            @include respond(tab-port) {
                  width: min(100%, 25rem);
            }
            @include respond(tab-land) {
                  width: min(100%, 80rem);
            }
            position: relative;
      }

      &__faqAnswer {
            opacity: 0;
            scale: 0;
      }

      &__faqButton {
            justify-items: flex-start;
      }
}

.displayNone {
      display: none;
}

.animateHide {
      animation: hideFaqContent .5s linear;
}

.animateShow {
      animation: showFaqContent .5s linear forwards;
}

.animateShowButton {
      animation: showFaqButton 2.5s linear forwards;
}

