.footer {
      @include displayFlexColumnCenter;
      align-items: stretch;
      gap: 1rem;
      background-color: $cp-dark;
      padding: 2rem 1rem 1rem;
      @include respond(tab-port) {
            padding: 2rem 2rem 1rem;
      }

      &__hr {
            border: 1px solid rgba($cp-platinumWhite, 0.3);
            width: 100%;
      }

      &__rightArrowIcon {
            color: $cp-sunsetOrange;
            margin-left: .25rem;
      }

      &__footerSection--logoBylineAndSocialMedia {
            @include displayFlexColumnCenter;
            @include respond(tab-land){
                  @include displayFlexRowCenter;
                  justify-content: center;
                  gap: 0rem;
            }
      }

      &__logoImage {
            width: 20rem;
            height: 20rem;
      }

      &__itemsWrapper--headingBylineAndSocialMedia {
            @include displayFlexColumnCenter;
            @include respond(tab-land){
                  align-items: flex-start;
                  margin-left: 3rem;
            }

            @include respond(desk){
                  @include displayFlexRowCenter;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 3rem;
            }
      }

      &__footerItem--headingAndByline {
            @include displayFlexColumnCenter;
            gap: .25rem;
            @include respond(tab-land){
                  align-items: flex-start;
                  width: 450px;
            }
      }

      &__paragraph--bylineParagraph {
            width: min(100%, 36rem);
      }

      &__navList {
            @include displayFlexColumnCenter;
            @include respond(tab-land){
			@include displayFlexRowCenter;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  align-items: flex-start;
		}
      }

      &__navItem {
            width: 150px;
      }

      &__itemsWrapper--termsAndCopy {
            @include displayFlexColumnCenter;
            gap: 0rem;
            @include respond(tab-land) {
                  @include displayFlexRowCenter;
                  justify-content: space-between;
                  gap: .75rem;
            }
      }

      &__copyright {
            @include displayFlexColumnCenter;
            gap: 0rem;
            @include respond(tab-port) {
                  @include displayFlexRowCenter;
                  gap: .75rem;
            }
      }

      &__developer {
            @include displayFlexRowCenter;
            gap: .25rem;
            @include respond(tab-land) {
                  justify-content: flex-end;
            }
      }

      &__developerName {
            margin-left: .5rem;
      }
}