.heroSection { 
    @include displayFlexColumnCenter;
    filter: drop-shadow(0px 10px 2px rgba($cp-dark, .45));
    
    &__heroContentContainer {
        @include displayFlexColumnCenter;
        justify-content: flex-end;
        background: linear-gradient(to bottom, rgba($cp-greyBlue, 1) 5%, rgba($cp-greyBlue, .25)) 20%;
        background-color: rgba($cp-platinumWhite, 1);
        border-radius: $br-small;
        min-height: 50rem;
        padding: 2rem 2rem 7rem;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 75% 100%, 0 95%);
        @include respond(tab-land) {
            @include displayFlexRowCenter;
        }
    }; 
    &__logo {
        width: min(80%, 35rem);
    };
    &__headingAndButtonsContainer {
        @include displayFlexColumnCenter;
    }   
}

.primaryHeading {
	@include displayFlexColumnCenter;
    gap: 1rem;
	&__name {
		
	};
	&__slogan {
		
	};
	&__paragraph {
    };
}

.hidden {
    display: none;
    opacity: 0;
    transform: scal(0);

    z-index: -1000;
}


