.header {
    background: url("../img/WebsiteImages/ContacUsBg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    position: relative;
}

.heroSection { 
    @include displayFlexColumnCenter;
    padding: 2rem;
    
    &__heroContentContainer {
        @include displayFlexColumnCenter;
        background: linear-gradient(to top, rgba($cp-platinumWhite, .1) 50%, rgba($cp-dark, .9));
        background-color: rgba($cp-platinumWhite, .1);
        border-radius: $br-small;
        backdrop-filter: blur(2px);
        padding: 3rem 1rem;
        @include respond(tab-land) {
            @include displayFlexRowCenter;
        }
    }; 
    &__logo {
        width: min(80%, 35rem);
    };
    &__headingAndButtonsContainer {
        @include displayFlexColumnCenter;
    };      
    
}

.primaryHeading {
	@include displayFlexColumnCenter;
    gap: 1rem;
	&__name {
		
	};
	&__slogan {
		
	};
	&__paragraph {
    };
}

.hidden {
    display: none;
    opacity: 0;
    transform: scal(0);

    z-index: -1000;
}


