main {
    padding: 2rem 0rem;
}

.contact {
    @include displayFlexColumnCenter;
    align-items: stretch;

    &__contactContentContainer {
        @include displayFlexColumnCenter;
        gap: 3rem;
        @include respond(tab-land) {
            @include displayFlexRowCenter;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 2rem;
        }
        background: url('../../img/WebsiteImages/ContacUsBg.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 5rem 2rem;
    }
    
    &__contactItemContentWrapper {
        @include displayFlexColumnCenter;
        gap: 1rem;
        // background: linear-gradient(to bottom right, 
        //                 rgba($cp-platinumWhite, .4), 
        //                 rgba($cp-platinumWhite, .5) 35%, 
        //                 rgba($cp-dark, 1));
        //     background-color: rgba(255, 255, 255, .3);
        // border: 5px solid $cp-greyBlue;
        // border-radius: $br-circle;
        // box-shadow: 0px 0px 50px 3px rgba($cp-dark, .7);
        // width: clamp(25rem, 80vw, 30rem);
        // height: clamp(25rem, 80vw, 30rem);
        // margin: 0 auto;
        // backdrop-filter: blur(3px);
    }

    &__iconAndHeadingWrapper {
        @include displayFlexColumnCenter;
        gap: .25rem;
        background: linear-gradient(to bottom right, 
                        rgba($cp-platinumWhite, .4), 
                        rgba($cp-platinumWhite, .5) 35%, 
                        rgba($cp-dark, 1));
            background-color: rgba(255, 255, 255, .3);
        border: 5px solid $cp-greyBlue;
        border-radius: $br-circle;
        box-shadow: 0px 0px 50px 3px rgba($cp-dark, .7);
        width: clamp(14rem, 20vw, 20rem);
        height: clamp(14rem, 20vw, 20rem);
        margin: 0 auto;
        backdrop-filter: blur(3px);
    }

    &__contactItemIcon {
        width: 5rem;
        height: 5rem;
    }
}
