main {
    @include displayFlexColumnCenter;
    gap: 8rem;
    padding: 2rem 0rem 8rem;
}

.about {
    @include displayFlexColumnCenter;
    gap: 4rem;
    position: relative;
    padding: clamp(15rem, 55vw, 100rem) 0 0;
    @media (min-width: 450px) {
        padding: clamp(28rem, 60vw, 100rem) 0 0;
    }
    @include respond(tab-port) {
        padding: clamp(28rem, 63vw, 100rem) 0 0;
    }
    @include respond(tab-land) {
        padding: clamp(28rem, 65vw, 100rem) 0 0;
    }
    &__heroImage {
        display: block;
        width: 100%;
        height: auto;
        box-shadow: 0 0 2rem .05rem rgba($cp-dark, .95);

        position: absolute;
        top: clamp(-10rem, 20vw, -8rem);
        left: 0;
        z-index: -100;

        overflow: hidden;
    }
    &__aboutContentContainer {
        @include displayFlexColumnCenter;
        gap: 4rem;
        padding: 0 2rem;
    }
    &__aboutItemContainer {
        @include displayFlexColumnCenter;
        gap: 4rem;
    }
    &__aboutWitkop > *, &__aboutWessel > * {
        margin: 0 0 2rem;
    }
    &__imgWitkop, &__imgWessel {
        display: block;
        width: 98%;
        height: auto;
        border: 2px solid $cp-sunsetOrange;
        box-shadow: 0 0 2rem .25rem rgba($cp-dark, .45);
        
        padding: .75rem;
        margin: 2rem auto;
    }
    @include respond(tab-port) {
        &__imgWitkop--kudus, &__imgWessel--number1 {
            float: left;
            margin: 2rem 2rem 2rem 0;
            clear:both;
        }
        &__imgWitkop--sunrise, &__imgWessel--number2 {
            float: right;
            margin: 2rem 0 2rem 2rem;
            clear: both; 
        }
        &__imgWitkop--kudus {
            width: min(55%, 45rem);
        }
        &__imgWessel--number1 {
            width: min(40%, 30rem);
        }
        &__imgWitkop--sunrise {
            width: min(37%, 35rem);
        }
        &__imgWessel--number2 {
            width: min(35%, 30rem);
        }
    }
    @media (min-width: 750px) {
        &__imgWessel--number2 {
            clear: none; 
        }
    }
    @include respond(tab-land) {
        &__imgWitkop--kudus {
            width: min(40%, 55rem);
        }
        &__imgWessel--number1 {
            width: min(45%, 35rem);
        }
        &__imgWitkop--sunrise {
            width: min(30%, 35rem);
            clear: none;
        }
        &__imgWessel--number2 {
            width: min(30%, 35rem);
        }
    }
    @include respond(desk) {
        &__imgWitkop--kudus {
            width: min(35%, 45rem);
        }
        &__imgWessel--number1 {
            width: min(35%, 25rem);
        }
        &__imgWitkop--sunrise {
            width: min(20%, 30rem);
            clear: none;
        }
        &__imgWessel--number2 {
            width: min(20%, 25rem);
        }
    }
    @include respond(big-desk) {
        &__imgWitkop--kudus {
            width: min(30%, 40rem);
        }
        &__imgWessel--number1 {
            width: min(18%, 18rem);
        }
        &__imgWessel--number2 {
            width: min(18%, 20rem);
        }
    }   
    
    &__buttonsContainer {
        @include displayFlexColumnCenter;
        clear: both;
    }
    &__aboutTeam {
        @include displayFlexColumnCenter;
        gap: 2.5rem;
    }
    &__aboutTeamNavItemContainer {
        @include displayFlexColumnCenter;
        gap: 3rem;
        @include respond(tab-land) {
            @include displayFlexRowCenter;
            flex-wrap: wrap;
            gap: 5rem;
        }
    }
    &__aboutTeamNavItem {
        flex: 1 0 28rem;
        @include displayFlexColumnCenter;
        @include respond(tab-land) {
            flex: 1 0 30rem;
        }
        @include respond(desk) {
            flex: 1 0 40rem;
        }
        @media (min-width: 1500px) {
            flex: 1 0 48rem;
        }
    }
    &__aboutTeamMemberFig {
        background: linear-gradient(to bottom right, rgba($cp-platinumWhite, 1), rgba($cp-greyBlue, 1) 65%, rgba($cp-dark, 1));
        border: 2px solid $cp-sunsetOrange;
        border-radius: $br-circle;
        box-shadow: 0 0 1.5rem .5rem rgba($cp-dark, .45);
        width: min(100%, 15rem);
    }
    &__aboutTeamMemberFigCaption {
        @include displayFlexColumnCenter;
        gap: .5rem;
        width: min(100%, 35rem);
        @include respond(tab-land) {
            align-items: center;
        }
    }
    &__teamLineBreak {
        display: block;
    }
}

.hunting {
    padding: 0 2rem;
    @include displayFlexColumnCenter;
    gap: 3rem;
    @include respond(tab-land) {
        align-items: center;
    }
    &__huntingContentContainer {
        @include displayFlexColumnCenter;
        gap: 3rem;
        @include respond(tab-land) {
            @include displayFlexRowCenter;
            justify-content: center;
            align-items: stretch;   
            flex-wrap: wrap;
            row-gap: 3rem;
        }
    }
    &__huntingItem {
        @include displayFlexColumnCenter;
        gap: 2rem;
        background: linear-gradient(to bottom right, rgba($cp-greyBlue, .3), rgba($cp-dark, .75), rgba($cp-dark, 1) 55%);
        background-color: $cp-greyBlue;
        border: 2px solid $cp-sunsetOrange;
        border-radius: $br-small;
        box-shadow: 0 0 25px 2px rgba($cp-dark, .6);
        padding: 2rem;
        width: min(100%, 45rem);
        @include respond(tab-land) {
            flex: 1 0 35rem;
            justify-content: space-between; 
            align-items: center; 
            column-gap: 3rem; 
        }
        @include respond(desk) {
            flex: 1 0 45rem; 
        }
        @media (min-width: 1500px) {
            flex: 1 0 47rem;
        }
        @include respond(big-desk) {
            flex: 1 0 55rem; 
        }
    }
    &__huntingPackages {
        position: relative;
    }
    &__huntingPackagesMoreInfo {
        @include displayFlexColumnCenter;
        gap: 1rem;
        justify-content: flex-start;
        background-color: rgba($cp-platinumWhite, 1);
        width: 100%, 55rem;
        height: 95vh;
        padding: 2rem 1rem 7rem 1rem;
        overflow-y: scroll;
        position: fixed;
        top: 6rem;
        left: 0;
        z-index:100;
    }
    &__huntingPackagesMoreInfoParagraph, &__huntingPackageTermsContainer {
        width: min(100%, 45rem);
        @include respond(tab-port) {
            width: min(100%, 50rem);
        }
        @include respond(tab-land) {
            width: min(100%, 70rem);
        }
    }
    &__huntingPackageContainer {
        @include displayFlexColumnCenter;
        gap: 1rem;
        background: linear-gradient(to bottom right,
                        rgba($cp-dark, .45), 
                        rgba($cp-dark, .65) 5%,
                        rgba($cp-dark, 1) 15% 70%,
                        rgba($cp-dark, .70) 87%, 
                        rgba($cp-dark, .40));
        background-color: $cp-greyBlue;
        border: 2px solid $cp-sunsetOrange;
        border-radius: $br-medium;
        box-shadow: 0 0 12px 2px rgba($cp-dark, .6);
        width: min(100%, 45rem);
        @include respond(tab-port) {
            width: min(100%, 50rem);
        }
        @include respond(tab-land) {
            width: min(100%, 70rem);
        }
        padding: 2.5rem 1.25rem;
        margin: 1rem 0;
    }
    &__huntingPackageHeadingContainer {
        @include displayFlexColumnCenter;
        gap: 1rem;
        @include respond(tab-land) {
            @include displayFlexRowCenter;
            gap: 2.5rem;
        }
    }
    &__headingH4BreakLine {
        @include respond(tab-land) {
            display: none;
        }
    }
    &__huntingImgCompAndPackDetContainer {
        @include respond(tab-land) {
            @include displayFlexRowCenter;
            gap: 2rem;
            width: 100%;
        }
    }
    &__huntingImgCompContainer {
        width: 100%;
        min-height: 27rem;
        position: relative;
        @include respond(tab-land) {
            width: 42%
        }
    }
    &__huntingImgCompContainer--starter {
        min-height: 20rem;
    }
    &__huntingImgCompContainer--classic {
        min-height: 20rem;
    }
    &__huntingImgCompContainer--grand {
        min-height: 24rem;
    }
    &__huntingImgCompContainer--elite {
        min-height: 26rem;
    }
    &__huntingImgCompContainer--kings {
        min-height: 28rem;
    }
    &__huntingImgCompContainer--buffalopackage {
        min-height: 15rem;
    }
    &__huntingImgCompContainer--neat {
        min-height: 21rem;
    }
    &__huntingImgCompContainer--superb {
        min-height: 21rem;
    }
    &__huntingImgCompContainer--freestateSlam {
        min-height: 23rem;
    }
    &__huntingImgCompContainer--freestateClassic {
        min-height: 23rem;
    }
    &__huntingImgCompImage {
        background-color: $cp-platinumWhite;
        border: 1px solid $cp-sunsetOrange;
        box-shadow: 0 0 2.5rem .25rem rgba($cp-dark, .3);
        width: $huntingImgSize;
        padding: .25rem;
        position: absolute;
        top: 37%;
        left: 50%;
        z-index: 100;
    }
    &__huntingImgCompImage--starter {
        top: 35%;
        left: 46%;
    }
    &__huntingImgCompImage--classic {
        top: 35%;
        left: 59%;
    }
    &__huntingImgCompImage--grand {
        top: 44%;
        left: 58%;
    }
    &__huntingImgCompImage--elite {
        top: 42%;
        left: 59%;
    }
    &__huntingImgCompImage--kings {
        top: 36%;
        left: 59%;
    }
    &__huntingImgCompImage--buffalopackage {
        top: 48%;
        left: 50%;
    }
    &__huntingImgCompImage--neat {
        top: 35%;
        left: 50%;
    }
    &__huntingImgCompImage--superb {
        top: 35%;
        left: 50%;
    }
    &__huntingImgCompImage--freestateSlam {
        top: 35%;
        left: 50%;
    }
    &__huntingImgCompImage--freestateClassic {
        top: 42%;
        left: 47%;
    }
    &__huntingImgCompImage--warthog-starter {
        transform: translate(5%, -80%);
        width: calc($huntingImgSize + 1.5rem);
    }
    &__huntingImgCompImage--impala-starter {
        transform: translate(-85%, -55%);
        width: calc($huntingImgSize);
    }
    &__huntingImgCompImage--blesbuck-starter {
        width: calc($huntingImgSize + 1rem);
    }
    &__huntingImgCompImage--wildebeest-starter {
        transform: translate(-72%, 45%);
        width: calc($huntingImgSize + 3rem);
    }
    &__huntingImgCompImage--impala-classic {
        transform: translate(-85%, -55%);
        width: calc($huntingImgSize);
    }
    &__huntingImgCompImage--blesbuck-classic {
        width: calc($huntingImgSize + 1rem);
    }
    &__huntingImgCompImage--wildebeest-classic {
        transform: translate(-72%, 45%);
        width: calc($huntingImgSize + 3rem);
    }
    &__huntingImgCompImage--zebra-classic {
        transform: translate(-114%, -22%);
        width: calc($huntingImgSize + 4rem);
    }
    &__huntingImgCompImage--impala-grand {
        transform: translate(-85%, -55%);
        width: calc($huntingImgSize);
    }
    &__huntingImgCompImage--blesbuck-grand {
        width: calc($huntingImgSize + 1rem);
    }
    &__huntingImgCompImage--wildebeest-grand {
        transform: translate(-72%, 45%);
        width: calc($huntingImgSize + 3rem);
    }
    &__huntingImgCompImage--zebra-grand {
        transform: translate(-114%, -22%);
        width: calc($huntingImgSize + 5rem);
    }
    &__huntingImgCompImage--kudu-grand {
        transform: translate(-120%, -115%);
        width: calc($huntingImgSize + 4rem);
    }
    &__huntingImgCompImage--hartebeest-grand {
        transform: translate(-30%, -75%);
        width: calc($huntingImgSize + 6rem);
    }
    &__huntingImgCompImage--impala-elite {
        transform: translate(-85%, -55%);
        width: calc($huntingImgSize);
    }
    &__huntingImgCompImage--blesbuck-elite {
        width: calc($huntingImgSize + 1rem);
    }
    &__huntingImgCompImage--wildebeest-elite {
        transform: translate(-72%, 45%);
        width: calc($huntingImgSize + 3rem);
    }
    &__huntingImgCompImage--zebra-elite {
        transform: translate(-114%, -22%);
        width: calc($huntingImgSize + 5rem);
    }
    &__huntingImgCompImage--kudu-elite {
        transform: translate(-120%, -115%);
        width: calc($huntingImgSize + 4rem);
    }
    &__huntingImgCompImage--hartebeest-elite {
        transform: translate(-30%, -75%);
        width: calc($huntingImgSize + 6rem);
    }
    &__huntingImgCompImage--sable-elite {
        transform: translate(-185%, 28%);
        width: calc($huntingImgSize);
    }
    &__huntingImgCompImage--impala-kings {
        transform: translate(-85%, -55%);
        width: calc($huntingImgSize);
    }
    &__huntingImgCompImage--blesbuck-kings {
        width: calc($huntingImgSize + 1rem);
    }
    &__huntingImgCompImage--wildebeest-kings {
        transform: translate(-72%, 45%);
        width: calc($huntingImgSize + 3rem);
    }
    &__huntingImgCompImage--zebra-kings {
        transform: translate(-114%, -22%);
        width: calc($huntingImgSize + 5rem);
    }
    &__huntingImgCompImage--kudu-kings {
        transform: translate(-120%, -115%);
        width: calc($huntingImgSize + 4rem);
    }
    &__huntingImgCompImage--hartebeest-kings {
        transform: translate(-30%, -75%);
        width: calc($huntingImgSize + 6rem);
    }
    &__huntingImgCompImage--sable-kings {
        transform: translate(-185%, 28%);
        width: calc($huntingImgSize);
    }
    &__huntingImgCompImage--eland-kings {
        transform: translate(-84%, 138%);
        width: calc($huntingImgSize + 3rem);
    }
    &__huntingImgCompImage--buffalo-kings {
        transform: translate(-10%, 95%);
        width: calc($huntingImgSize + 1.5rem);
    }
    &__huntingImgCompImage--hartebeest {
        transform: translate(-30%, -75%);
        width: calc($huntingImgSize + 6rem);
    }
    &__huntingImgCompImage--kudu {
        transform: translate(-120%, -105%);
        width: calc($huntingImgSize + 4rem);
    }
    &__huntingImgCompImage--sable {
        transform: translate(-220%, 35%);
        width: calc($huntingImgSize - 1.5rem);
    }
    &__huntingImgCompImage--eland {
        transform: translate(-98%, 140%);
        width: calc($huntingImgSize + 1rem);
    }
    &__huntingImgCompImage--buffalo {
        transform: translate(-10%, 95%);
        width: calc($huntingImgSize + 1.5rem);
    }
    &__huntingImgCompImage--buffalo-package {
        transform: translate(-50%, -50%);
        width: calc($huntingImgSize + 10rem);
    }
    &__huntingImgCompImage--gems1-neat {
        transform: translate(-20%, 45%);
        width: calc($huntingImgSize);
    }
    &__huntingImgCompImage--gems2-neat {
        transform: translate(-50%, -60%);
        width: calc($huntingImgSize);
    }
    &__huntingImgCompImage--gems3-neat {
        transform: translate(-108%, 12%);
        width: calc($huntingImgSize);
    }
    &__huntingImgCompImage--springbuckCommon-superb {
        transform: translate(-50%, 0%);
        width: calc($huntingImgSize + 2rem);
    }
    &__huntingImgCompImage--gems1-superb {
        transform: translate(32%, -25%);
        width: calc($huntingImgSize + 1rem);
    }
    &__huntingImgCompImage--gems2-superb {
        transform: translate(-140%, 32%);
        width: calc($huntingImgSize - 1rem);
    }
    &__huntingImgCompImage--gems3-superb {
        transform: translate(-48%, -72%);
        width: calc($huntingImgSize + 1.35rem);
    }
    &__huntingImgCompImage--kudu-superb {
        transform: translate(-30%, 100%);
        width: calc($huntingImgSize + 1.60rem);
    }
    &__huntingImgCompImage--eland-superb {
        transform: translate(-98%, -50%);
        width: calc($huntingImgSize + 4rem);
    }
    &__huntingImgCompImage--springbuckCommon-freestateSlam {
        transform: translate(-50%, 0%);
        width: calc($huntingImgSize + 2.5rem);
    }
    &__huntingImgCompImage--springbuckWhite-freestateSlam {
        transform: translate(-50%, -90%);
        width: calc($huntingImgSize + 1.5rem);
    }
    &__huntingImgCompImage--springbuckBlack-freestateSlam {
        transform: translate(-110%, -40%);
        width: calc($huntingImgSize + 2.25rem);
    }
    &__huntingImgCompImage--springbuckCopper-freestateSlam {
        transform: translate(12%, -55%);
        width: calc($huntingImgSize + 2.2rem);
    }
    &__huntingImgCompImage--blesbuckCommon-freestateSlam {
        transform: translate(-10%, 25%);
        width: calc($huntingImgSize + 3rem);
    }
    &__huntingImgCompImage--blesbuckWhite-freestateSlam {
        transform: translate(-98%, 45%);
        width: calc($huntingImgSize + 2rem);
    }
    &__huntingImgCompImage--springbuckCommon-freestateClassic {
        transform: translate(-80%, 45%);
        width: calc($huntingImgSize + 2.75rem);
    }
    &__huntingImgCompImage--blesbuckCommon-freestateClassic {
        transform: translate(-50%, -95%);
        width: calc($huntingImgSize + 1.75rem);
    }
    &__huntingImgCompImage--redhartebeest-freestateClassic {
        transform: translate(-95%, -30%);
        width: calc($huntingImgSize + 2.5rem);
    }
    &__huntingImgCompImage--blackwildebeest-freestateClassic {
        transform: translate(-2%, -55%);
        width: calc($huntingImgSize + 2.5rem);
    }
    &__huntingImgCompImage--fellowdeer-freestateClassic {
        transform: translate(-10%, 25%);
        width: calc($huntingImgSize + 4.5rem);
    }
    &__huntingPackageDetailsContainer {
        @include displayFlexRowCenter;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: clamp(2rem, 6vw, 6rem);
        @include respond(tab-port) {
            gap: clamp(4rem, 8vw, 8rem);
        }
        @include respond(tab-land) {
            gap: clamp(2rem, 4vw, 3rem);
        }
    }
    &__huntingPackageGameList, &__huntingPackageExtrasList {
        @include displayFlexColumnCenter;
        gap: 1rem;
    }
    &__huntingPackageGameDesc {
        width: 100%;
    }
    &__huntingPackageTermsContainer {
        @include displayFlexColumnCenter;
        align-items: stretch;
        gap: 2rem;
    }
    &__huntingPackageInclAndExclAndPaymentContainer {
        @include displayFlexColumnCenter;
        gap: .5rem;
    }
    &__huntingPackageInclusionsList, &__huntingPackageExclusionsList, &__huntingPackagePaymentOptions {
        @include displayFlexColumnCenter;
        gap: 0;
        width: 100%;
    }
    &__huntingPackageTermsListItem {
        @include displayFlexRowCenter;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .25rem;
        width: 100%;
        margin: 0 auto;
    }
    &__huntingPackageTermsListItem > * {
        display: inline-flex;
    }
    &__huntingTermCheckmarkIcon {
        width: 1.5rem;
        height: 1.5em;
        padding-bottom: .5rem;
    }
    &__buttonsContainer {
        margin-top: 3rem;
    }
////  hunting accommodation ////
    &__huntingAccommodation {
        position: relative;
    }
    &__accommInfo {
        @include displayFlexColumnCenter;
        justify-content: flex-start;
        @include respond(tab-land) {
            @include displayFlexRowCenter;
            align-items: flex-start;
        }
        background-color: rgba($cp-platinumWhite, 1);
        width: 100%;
        height: 100vh;
        padding: 2rem 2rem 7rem 2rem;
        overflow: scroll;
        scroll-behavior: smooth;
        position: fixed;
        top: 6rem;
        left: 0;
        z-index:100;
    }
    &__accommInfoContentWrapper {
        @include displayFlexColumnCenter;
        gap: 1;
        width: min(100%, 45rem);
        @include respond(tab-land) {
            align-items: flex-start;
            width: 100%;
            gap: 2.5rem;
        }
        @include respond(big-desk) {
            max-width: 2000px;
        }
    }
    &__introParagraphsContainer {
        @include displayFlexColumnCenter;
        gap: 1rem;
        @include respond(tab-land) {
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            height: 20rem;
        }
    }
    &__accommParagraph {
        @include respond(tab-land) {
            width: 45%;
        }
        @include respond(desk) {
            width: 45%;
        }
    }
    &__accommCarouselAndFacilitiesContainer {
        @include respond(tab-land) {
            @include displayFlexRowCenter;
            justify-content: flex-start;
            align-items: flex-start;
            column-gap: 5rem;
        }
    }
    &__accommImg {
        width: $accommImgSize;
    }
    &__facilitiesInfoContainer {
        @include displayFlexColumnCenter;
        gap: 1.25rem;
        @include respond(tab-land) {
            justify-content: flex-start;
            align-items: flex-start;
            gap: 3rem;
            width: 45%;
        }
    }
    &__accommFacilitiesListContainer {
        @include displayFlexColumnCenter;
        align-items: center;
        gap: .5rem;
        @include respond(tab-land) {
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
    &__accommFacilitiesListItem {
        @include displayFlexRowCenter;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .25rem;
    }
    &__accommFacilitiesCheckmarkIcon {
        width: 1.5rem;
        height: 1.5rem;
    }
//// stepsInfo ////
    &__huntingHowItWorks {
        position: relative;
    }
    &__stepsInfo {
        @include displayFlexColumnCenter;
        justify-content: flex-start;
        gap: 2.5rem;
        background-color: rgba($cp-platinumWhite, 1);
        width: 100%;
        height: 100vh;
        padding: 2rem 2rem 7rem 2rem;
        overflow: scroll;
        scroll-behavior: smooth;
        position: fixed;
        top: 6rem;
        left: 0;
        z-index:100;
    }
    &__stepsInfoContentWrapper {
        @include displayFlexColumnCenter;
        justify-content: flex-start;
        gap: 3rem;
        width: min(100%, 45rem);
        @include respond(tab-land) {
            align-items: flex-start;
            width: 100%;
        }
        @include respond(big-desk) {
            max-width: 2000px;
        }
    }
    &__howItWorksStepsContainer {
        @include displayFlexColumnCenter;
        gap: 2rem;
        width: min(100%, 45rem);
        @include respond(tab-land) {
            @include displayFlexRowCenter;
            justify-content: flex-start;
            column-gap: 4rem;
            width: 100%;
        }
    }
    &__howItWorksSteps {
        @include displayFlexColumnCenter;
        background-color: $cp-dark;
        border: 2px solid $cp-sunsetOrange;
        border-radius: $br-circle;
        box-shadow: 4px 4px 15px 2px rgba($cp-dark, .6);
        width: 15rem;
        height: 15rem;
        padding: 2rem;
        position: relative;
    }
    &__headingH4StepsHowItWorks {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
    &__docInfoContainer {
        @include displayFlexColumnCenter;
        gap: 3rem;
        @include respond(tab-land) {
            @include displayFlexRowCenter;
            justify-content: flex-start;
            align-items: stretch;
            flex-wrap: wrap;
        }
    }
    &__docInfoArticle {
        flex: 1 0 250px;
        @include displayFlexColumnCenter;
        justify-content: flex-start;
        gap: 2rem;
        background-color: $cp-dark;
        border: 2px solid $cp-sunsetOrange;
        border-radius: $br-small;
        box-shadow: 0 0 12px 2px rgba($cp-dark, .6);
        padding: 2rem;
    }
    &__activitiesInfo {
        @include displayFlexColumnCenter;
        justify-content: flex-start;
        gap: 2.5rem;
        background-color: rgba($cp-platinumWhite, 1);
        width: 100%;
        height: 100vh;
        padding: 2rem 2rem 7rem 2rem;
        overflow: scroll;
        scroll-behavior: smooth;
        position: fixed;
        top: 6rem;
        left: 0;
        z-index:100;
    }
    &__activitiesInfoContentWrapper {
        @include displayFlexColumnCenter;
        justify-content: flex-start;
        gap: 2rem;
        width: min(100%, 45rem);
        @include respond(tab-land) {
            align-items: flex-start;
            width: 100%;
        }
        @include respond(big-desk) {
            max-width: 2000px;
        }
    }
    &__activitiesInfoContainer {
        @include displayFlexColumnCenter;
        justify-content: flex-start;
        @include respond(tab-land) {
            @include displayFlexRowCenter;
            justify-content: flex-start;
            align-items: stretch;
            flex-wrap: wrap;
        }

    }
    &__activitiesInfoArticle {
        @include displayFlexColumnCenter;
        justify-content: flex-start;
        gap: 2rem;
        background-color: $cp-dark;
        border: 2px solid $cp-sunsetOrange;
        border-radius: $br-small;
        box-shadow: 0 0 12px 2px rgba($cp-dark, .6);
        padding: 2rem;
        @include respond(tab-land) {
            flex: 1 0 30rem;
            align-items: flex-start;
        }
        @include respond(desk) {
            flex: 1 0 35rem;
        }
        @include respond(big-desk) {
            flex: 1 0 45rem;
        }
    }
////  display none class for button logic //// 
    &__displayNone {
        display: none;
    }
}

.gallery {
    @include displayFlexColumnCenter;
    align-items: stretch;
    gap: 3rem;
}

.contact {
    @include displayFlexColumnCenter;
    gap: 2rem;

    &__contactContentContainer {
        @include displayFlexColumnCenter;
        gap: 3rem;
        width: min(100%, 45rem);
        padding: 1rem;
        @include respond(tab-land) {
            @include displayFlexRowCenter;
            align-items: stretch;
            flex-wrap: wrap;
            column-gap: 3rem;
            row-gap: 3rem;
            width: 100%;
            padding: 2rem;
        }
    }
    &__contactItem {
        @include displayFlexColumnCenter;
        align-items: flex-end;
        gap: 1rem;
        border: 2px solid $cp-sunsetOrange;
        border-radius: $br-small;
        box-shadow: 0 0 12px 2px rgba($cp-dark, .6);
        width: 100%;
        min-height: 20rem;
        padding: 2rem;
        @media (min-width: 345px) {
            justify-content: flex-end;
            align-items: center;
        }
        @include respond(tab-land) {
            flex: 1 0 35rem;
            min-height: 22rem;
        }
        @include respond(desk) {
            flex: 1 0 40rem;
        }
        @media (min-width: 1500px) {
            flex: 1 0 48rem;
            justify-content: center;
        }
        @include respond(big-desk) {
            flex: 1 0 50rem;
        }
    }
    &__contactItem--wessel {
        background: linear-gradient(to bottom right, rgba($cp-greyBlue, 0) 15%, rgba($cp-dark, .45) 30%, rgba($cp-dark, 1) 75%), url('../img/WebsiteImages/Wessel.webp'), linear-gradient(to bottom right, rgba($cp-greyBlue, .35) -50%, rgba($cp-dark, 1) 45%);
        background-size: contain;
    }
    &__contactItem--mellissa {
        background: linear-gradient(to bottom right, rgba($cp-greyBlue, 0) 15%, rgba($cp-dark, .45) 30%, rgba($cp-dark, 1) 75%), url('../img/WebsiteImages/Melissa.webp'), linear-gradient(to bottom right, rgba($cp-greyBlue, .35) -50%, rgba($cp-dark, 1) 45%);
        background-size: contain;
    }
    @media (min-width: 345px) {
        &__contactItem--wessel {
            background: linear-gradient(to bottom right, rgba($cp-greyBlue, 0) 15%, rgba($cp-dark, .98) 60%, rgba($cp-dark, 1) 75%), url('../img/WebsiteImages/Wessel.webp'), linear-gradient(to bottom right, rgba($cp-greyBlue, .35) -50%, rgba($cp-dark, 1) 45%);
            background-size: contain;
        }
        &__contactItem--mellissa {
            background: linear-gradient(to bottom right, rgba($cp-greyBlue, 0) 15%, rgba($cp-dark, .98) 60%, rgba($cp-dark, 1) 75%), url('../img/WebsiteImages/Melissa.webp'), linear-gradient(to bottom right, rgba($cp-greyBlue, .35) -50%, rgba($cp-dark, 1) 45%);
            background-size: contain;
        }
    }
    @include respond(desk) {
        &__contactItem--wessel {
            background: linear-gradient(to bottom right, rgba($cp-greyBlue, 0) 15%, rgba($cp-dark, .98) 55%, rgba($cp-dark, 1) 75%), url('../img/WebsiteImages/Wessel.webp'), linear-gradient(to bottom right, rgba($cp-greyBlue, .35) -50%, rgba($cp-dark, 1) 45%);
            background-size: contain;
        }
        &__contactItem--mellissa {
            background: linear-gradient(to bottom right, rgba($cp-greyBlue, 0) 15%, rgba($cp-dark, .98) 55%, rgba($cp-dark, 1) 75%), url('../img/WebsiteImages/Melissa.webp'), linear-gradient(to bottom right, rgba($cp-greyBlue, .35) -50%, rgba($cp-dark, 1) 45%);
            background-size: contain;
        }
    }
    &__contactItem--email {
        background: linear-gradient(to bottom, rgba($cp-greyBlue, 0) 15%, rgba($cp-dark, .75) 55%, rgba($cp-dark, 1)), url('../img/WebsiteImages/Contact/ContactEmailKudus.webp');
        background-size: cover;
    }
    &__contactItem--address {
        background: linear-gradient(to bottom, rgba($cp-greyBlue, 0) 15%, rgba($cp-dark, .35) 65%, rgba($cp-dark, 1)), url('../img/WebsiteImages/Contact/ContactAddressBuffels.webp');
        background-size: cover;
    }
    &__contactItem {
        background-repeat: no-repeat;
        background-position-x: 0px;
        background-position-y: 0px;
    }
    &__contactItem--email, &__contactItem--address {
        background-repeat: no-repeat;
        background-position: center;
    }
    &__contactDetails {
        @include displayFlexColumnCenter;
        align-items: flex-end;
        gap: .5rem;
        @media (min-width: 345px) {
            @include displayFlexRowCenter;
            align-items: flex-start;
        }
        @include respond(tab-port) {
            @include displayFlexRowCenter;
            gap: .35rem;
            align-items: flex-start;
        }
    }
    &__contactItemIcon {
        width: 5rem;
        height: 5rem;
    }
    &__lineBreak {
        @media (min-width: 345px) {
            display: none;
        }
        @include respond(tab-port) {
            display: none;
        }
    }
}
