.carouselGallery {
      @include displayFlexColumnCenter;
      width: min(100%, 60rem);
      &__carouselImageContainer {
            @include displayFlexColumnCenter;
      }
      &__carouselImage {
            display: block;
            height: min(62vw, 25rem);
            width: auto;
            border: 2px solid $cp-sunsetOrange;
            border-radius: $br-small;
            box-shadow: 0 0 12px 3px rgba($cp-dark, .45);
            padding: 1rem;
            transition: opacity 1.2s;
      }
      @media (min-width: 600px) AND (min-height: 700px) {
            &__carouselImage {
                  display: block;
                  height: min(85vw, 35rem);
                  width: auto;
            }
      }
      &__displayNone {
            display: none;
      }
	&__carouselNavContainer {
            @include displayFlexRowCenter;
            min-width: 95%;
      }
      &__carouselArrow {
            width: 4rem;
            height: 4rem;
      }
      &__carouselIndexContainer {
            @include displayFlexRowCenter;
            gap: .75rem;
      }
      &__carouselIndex {
            border: 1px solid $cp-dark;
            border-radius: $br-circle;
            width:1rem;
            height: 1rem;
      }
      &__carouselIndex:first-child {
            background-color: $cp-sunsetOrange;
      }
      
}
