.carouselAccomm {
      @include displayFlexColumnCenter;
      gap: .75rem;
      width: min(100%, 35rem);
      margin: 0 auto;
      @include respond(tab-land) {
            flex: 1 0 35rem;
      }
      &__carouselImageContainer {
            @include displayFlexColumnCenter;
      }
      &__carouselFigure {
            position: relative;
            transition: opacity 1.2s;
      }
      &__carouselFigcaption {
            position: absolute;
            bottom: 1.5rem;
            left: 1rem;
      }
      &__carouselImage {
            border: 1px solid $cp-sunsetOrange;
            box-shadow: 0 0 35px 1px rgba(3, 3, 3, .65);
            height: min(65vw, 25rem);
            padding:.5rem;
      }
      &__displayNone {
            display: none;
      }
	&__carouselNavContainer {
            @include displayFlexRowCenter;
            width: 100%;
      }
      &__carouselArrow {
            @include displayFlexColumnCenter;
            width:3rem;
            height: 3rem;
      }
      &__carouselIndexContainer {
            @include displayFlexRowCenter;
            gap: .75rem;
      }
      &__carouselIndex {
            border: 1px solid $cp-dark;
            border-radius: $br-circle;
            width:.75rem;
            height: .75rem;
      }
      &__carouselIndex:first-child {
            background-color: $cp-sunsetOrange;
      }
      
}
