.logo {
      @include displayFlexRowCenter;
      gap: .25rem;
      &__img {
            width: 4.5rem;
      }
      &__textLineBreak {
            @media (min-width: 450px) {
                  display: none;
            }
      }
    
}