table {
      border-collapse: collapse;
      width: 100%;
}

th, td {
      border: 1px solid #959595;
      text-align: left;
      padding: 8px;
}

th {
      background-color: #b6b6b6;
}

.table {
      &__container {
            @include displayFlexColumnCenter;
            width: min(100%, 45rem);
            @include respond(tab-port) {
                  width: min(100%, 50rem);
            }
            @include respond(tab-land) {
                  width: min(100%, 70rem);
            }
      }
      &__mainHeading {
            border-right: none;
      }
      &__mainHeadingEmpty {
            border-left: none;
      }
      &__speciesName {
            background-color: #d7d7d7;
            width: 65%;
      }
      &__price {
            text-align: right;
      }
}