body {
	color: $cp-dark;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6;

}

.heading-h1 {}
.heading-h2 {}
.heading-h3 {}
.heading-h4 {}

.paragraph {
	
}

.btn {
	
}



.navbar {
	
}

.header	{
	
}

.about {
	
}

.portfolio {
	
}

	

.footer {
	color: $cp-platinumWhite;

	&__developer {
		font-size: clamp(1.2rem, 4.3vw, 1.6rem);
	}

	&__developerName {
		color: $cp-sunsetOrange;
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}