body {
	color: $cp-dark;
	font-family: Arial, Helvetica, sans-serif;
	font-size: clamp(1.4rem, 4.3vw, 1.6rem);
	font-weight: 400;
	line-height: 1.6;

}

.heading-h1 {}
.heading-h2 {}
.headingH3 {
	color: $cp-platinumWhite;
	font-size: clamp(1.6rem, 4.3vw, 1.8rem);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: underline;
	text-underline-offset: 4px;

	&--bylineHeading3 {
		text-align: center;
		@include respond(tab-land) {
			text-align: left;
		}
	}
}
.heading-h4 {}

.paragraph {
	font-size: clamp(1.4rem, 4.3vw, 1.6rem);
	line-height: 1.2;
	text-align: center;

	&--bylineParagraph {
		@include respond(tab-land) {
			text-align: left;
		}
	}
}

.btn {
	
}



.navbar {
	
}

.header	{
	
}

.about {
	
}

.portfolio {
	
}

	

.footer {
	color: $cp-platinumWhite;
	
	&__navList {
		text-align: center;
		@include respond(tab-land){
			text-align: left;
		}
	}

	&__navLinkMain {
		color: $cp-sunsetOrange;
		font-size: clamp(1.6rem, 4.3vw, 1.8rem);
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-decoration: underline;
		text-underline-offset: 2px;
		margin-left: 1.65rem;
		@include respond(tab-land){
			margin-left: 0rem;
		}
	}

	&__terms {
		color: $cp-sunsetOrange;
		text-decoration: underline;
		text-underline-offset: 2px;
	}

	&__developer {
		font-size: clamp(1.2rem, 4.3vw, 1.4rem);
	}

	&__developerName {
		color: $cp-sunsetOrange;
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}