body {
	color: $cp-dark;
	font-family: Arial, Helvetica, sans-serif;
	font-size: clamp(1.4rem, 4.3vw, 1.6rem);
	font-weight: 400;
	line-height: 1.6;

}

.headingH2 {
	font-size: clamp(2.2rem, 7vw, 3.2rem);
	font-weight: 900;
	letter-spacing: 3px;
	text-transform: uppercase;
	-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: $cf-dark;
	text-align: center;

	
	background: linear-gradient(to bottom right, rgba($cf-sunsetOrange, 1) 30%, rgba($cf-greyBlue, 1) 50%, rgba($cf-dark, 1) 85%);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
     
	background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

	// @include respond(tab-land) {
	// 	text-align: left;
	// }

	&--contact {
		padding-left: 0;
		@include respond(tab-land) {
			padding-left: 2rem;
		}
	}
}

.headingH3 {
	color: $cp-platinumWhite;
	font-size: clamp(1.6rem, 4.3vw, 1.8rem);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: underline;
	text-underline-offset: 4px;

	&--bylineHeadingH3 {
		text-align: center;
		@include respond(tab-land) {
			text-align: left;
		}
	}

	&--faqQuestion {
		color: $cf-greyBlue;
		text-align: center;
		@include respond(tab-land) {
			text-align: left;
		}
	}
}

.headingH4 {
	color: $cf-dark;
	font-size: clamp(1.4rem, 4.3vw, 1.6rem);
	font-weight: 700;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 2px;

	&--contactItem {
		color: $cf-greyBlue;
		// -webkit-text-stroke-color: $cf-dark;
		// -webkit-text-stroke-width: .5px;
		text-shadow: 1px 1px 1px rgba($cf-dark, .9);
	}
}

.paragraph {
	font-size: clamp(1.4rem, 4.3vw, 1.6rem);
	line-height: 1.2;
	text-align: center;

	&--bylineParagraph {
		@include respond(tab-land) {
			text-align: left;
		}
	}
	&--contactItem {
		color: $cf-greyBlue;
		font-weight: 900;
		// -webkit-text-stroke-color: $cf-dark;
		// -webkit-text-stroke-width: .1px;
		text-shadow:  1px 1px 1px rgba($cf-dark, .9);
	}
	&--faqQuestion, &--faqAnswer {
		color: $cf-greyBlue;
		@include respond(tab-land) {
			text-align: left;
		}
	}
	&--faqQuestion {
		color: $cf-greyBlue;
		font-weight: 900;
	}
	&--faqAnswer {
	}
}	

.footer {
	color: $cp-platinumWhite;
	
	&__navList {
		text-align: center;
		@include respond(tab-land){
			text-align: left;
		}
	}

	&__navLinkMain {
		color: $cp-sunsetOrange;
		font-size: clamp(1.6rem, 4.3vw, 1.8rem);
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-decoration: underline;
		text-underline-offset: 2px;
		margin-left: 1.65rem;
		@include respond(tab-land){
			margin-left: 0rem;
		}
	}

	&__terms {
		color: $cp-sunsetOrange;
		text-decoration: underline;
		text-underline-offset: 2px;
	}

	&__developer {
		font-size: clamp(1.2rem, 4.3vw, 1.4rem);
	}

	&__developerName {
		color: $cp-sunsetOrange;
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}